.app-header {
  display: grid;
  height: 64px;
  position: sticky;
  border-bottom: 0;
  top: 0;
  z-index: 5;
  align-items: center;
  background: linear-gradient(var(--primary-color), var(--primary-color));
  transition: 1s ease;

  .btn-login-signup-wrapper {
    margin-right: 1em;
  }

  &.app-header > div {
    justify-content: space-between;
    align-items: center;
    margin-left: 1.3em;
    .btn-login-sighnup-wrapper {
      margin-right: 28px;
    }
  }

  & nav {
    gap: 6px;
    align-items: center;
    justify-content: space-between;
  }

  .btn-go-back,
  .btn-go-next {
    background-color: $app-header-nav-btn;
    border: none;
    height: 32px;
    width: 32px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }

  .btn-go-back svg,
  .btn-go-next svg {
    fill: $bgclr1-light;
  }

  .btn-login {
    font-family: CircularBlack;
    background-color: $clr1;
    color: $bgclr1;
    font-weight: 400;
    height: 39px;
    width: 86px;
    margin: 0.11em;
    border-radius: 500px;
    cursor: pointer;
  }
  .btn-signup {
    font-family: CircularBlack;
    background-color: transparent;
    border: none;

    color: $clr2;
    font-weight: 400;
    height: 39px;
    width: 86px;
    margin: 0.11em;
    &:hover {
      color: $clr1;
      cursor: pointer;
    }
    span {
      // padding: 1px;
    }
  }
  .btn-login,
  .btn-signup {
    margin-top: 0.3em;
  }
}
