.app-header {
  display: grid;
  position: sticky;
  top: 8px;
  z-index: 30;
  flex-direction: row;
  margin-top: 2px;
  align-items: center;
  padding: 0;
  background-color: $bgclr2;
  transition: 1s ease;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  &.app-header > div {
    justify-content: space-between;
    align-items: center;
    padding: 1.5em;
    width: calc(100vw - 325px);
  }

  & nav {
    gap: 6px;
    align-items: center;
    justify-content: space-between;
  }

  & .btn-go-back,
  .btn-go-next {
    background-color: #000000b3;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    cursor: pointer;
    & svg {
      fill: #fff;
    }
  }

  & button {
    background-color: #ffffff;
    color: #000000;
    font-weight: 400;
    height: 39px;
    width: 86px;
    margin: 0.11em;
    border-radius: 500px;
    font-family: CircularBlack;
  }
}
