.app-nav {
  font-family: CircularBlack;
  background-color: $card-color;
  color: $clr2;
  display: flex;
  flex-direction: column;
  grid-column: 1;
  font-size: 1rem;
  width: 18em;
  letter-spacing: 0.06em;
  padding: 0.6em 0em 0em 2em;
  border-radius: 7px;
  & a {
    transition: color 0.4s;
    align-items: center;
    display: flex;
    gap: 16px;
    height: 3em;
    color: #b3b3b3;
    text-decoration: none;
    fill: white;
  }
  &:active {
    color: $clr1;
  }
}

.main-nav {
  padding: 0.3em;
}
