.app-nav {
  font-family: CircularBlack, Rubik-Light;
  background-color: $card-color;
  color: $clr2;
  display: flex;
  flex-direction: column;
  grid-column: 1;
  font-size: 1em;
  letter-spacing: 0.06em;
  padding: 0.6em 0em 0.6em 1.5em;
  border-radius: 10px;
  span {
    margin-top: 6px;
  }
  & a {
    transition: color 0.4s;
    align-items: center;
    display: flex;
    gap: 21px;
    height: 3em;
    color: $clr2;
    text-decoration: none;
    fill: $clr1;
    margin-right: 3em;
    align-items: center;
  }
  .add-station-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    fill: $clr2;
    border: none;
    margin-left: 2.2em;
    margin-top: 0.7em;
    border-radius: 50%;
    height: 31px;
    width: 31px;
    transition: fill 0.3s, background-color 0.3s;
    &:hover {
      fill: $clr1;
      background-color: #b3b3b31c;
    }
  }

  &.library {
    margin-top: 0.6em;
    padding: 0.43em 0em 0 1.7em;
  }

  @media (max-width:$mobile-breakpoint) {
 flex-direction: row;
 position: sticky;
 padding: 0;
   }
}

.parmanent-nav {
  position: sticky;
  top: 8px;
  li:hover {
    svg,
    span {
      color: $clr1;
    }
  }


  
}
.main-nav {
  padding: 8px;
  grid-area: header;

  @media (max-width:$mobile-breakpoint) {
   position:fixed;
   display: flex;
  //  padding: 0;
   bottom: 0;
   left: 0%;
  }
}
