.dropdown-menu {
  z-index: 200;
  position: absolute;
  border-radius: 5px;
  font-weight: 600;
  padding: 4px;
  left: 5px;
  // right: -85px;
  top: 40px;
  width: 150px;
  // box-shadow: 0 16px 24px #0000004d, 0 6px 8px #0003;
  font-size: 0.875rem;
  font-family: CircularLight;
  
}

.dropdown-menu ul li {
  white-space: nowrap;
  background-color: $bgclr4;
  color: $clr1-faded;
  height: 40px;
  border-radius: 2px;
  padding: 12px;
  padding-inline-end: 8px;
}

.dropdown-menu ul li:hover {
  cursor: pointer;
  background-color: #3e3e3e;
  color: #fff;
}

.dropdown-menu li {
  // border-bottom: 1px solid #b3b3b32e;
}

.dropdown-menu.active {
  display: block;
  transform: translateY(0);
  // margin-right: 100px;

  transition: 0.5ms ease;
  background-color: #282828;
  width: 220px;
  // z-index: 200;
  // top: 30em;
  // left: 37em;

  &.list-options {
    left: -200px;
  }
}

.dropdown-menu.inactive {
  // opacity: 0;
  display: none;
  transform: translateY(100px);
  transition: 0.5ms ease;
}

.options-container {
  position: relative;
}
