.main-player-section {
  // background-color: rgb(0, 0, 0, 0.6);
  // z-index: 9000;
  // padding: 16px;
  grid-area: 2/1/2/3;
  // grid-area: player;
}

.player-container {
  bottom: 0;
  // display: flex;
  // flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
}

.top-center-controls {
  display: flex;
  align-content: center;
  align-items: baseline;
  justify-content: center;

  .backBtn,
  .fwdBtn,
  .muteBtn {
    background: none;
    border: none;
    margin: 16px;
    transition: color 0.3s;

    &:hover {
      color: white;
    }
  }

  .playBtn {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    &:hover {
      transform: scale(1.15);
    }

    height: 32px;
    width: 32px;
    border: 1px solid white;
    border-radius: 50%;
    background-color: white;
  }
}

.center-controls {
  display: flex;
  width: 40vw;
  flex-direction: column;
  align-items: center;

  .progress-bar {
    width: 100%;
    height: 100%;
    gap: 0.35rem;
  }

  .time-stamp {
    font-size: 0.6875rem;
    font-family: CircularLight;
    color: #a7a7a7;
  }
}

//RIGHT ELEMENTS

.muteBtn {
  background: none;
  border: none;
  margin: 16px;
  transition: color 0.3s;

  &:hover {
    color: white;
  }
}

.volume-bar-element {
  -webkit-appearance: none;
  border-radius: 2px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: width 0.3s ease;
  width: 93px;
  height: 4px;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 5px;
    height: 5px;
    background-color: transparent;
  }

  &:hover::-webkit-slider-thumb {
    border-radius: 50%;
    transform: scale(3);
    background-color: #ffffff;
  }
}
