.main-player-section {
  grid-area: 2/1/2/3;
  @media (max-width: $mobile-breakpoint) {
    // position: sticky;
    bottom: -1px;
    width: 100vw;
    background-color: black;
  }
}

.player-container {
  bottom: 0;
  align-items: center;
  justify-content: space-between;
  margin: 0 1em 0 1em;
  width: 14em;
  @media (max-width: $mobile-breakpoint) {
    width: 1em;

    .station-img {
      display: none;
    }
  }
}

.top-center-controls {
  display: flex;
  align-content: center;
  align-items: baseline;
  justify-content: center;
  margin-bottom: 8px;
  gap: 16px;

  .backBtn,
  .fwdBtn,
  .muteBtn {
    background: none;
    border: none;
    transition: color 0.3s;
    @media (max-width: $mobile-breakpoint) {
      display: none;
    }
  }

  .playBtn {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    &:hover {
      transform: scale(1.15);
    }

    height: 32px;
    width: 32px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: #fff;
  }
}

.center-controls {
  display: flex;
  flex-basis: 40%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 58px;

  button {
    border: 0;
    background-color: transparent;

    .repeat-on-icon {
      fill: $clr2;
    }

    .repeat-off-icon,
    .shuffle-song,
    .go-fwd-icon,
    .go-back-icon,
    .repeat-off-icon {
      fill: $clr2;
      @media (max-width: $mobile-breakpoint) {
        display: none;
      }
      &:hover {
        fill: $clr-1;
      }
    }

    // .repeat-on-icon:hover,
    // .repeat-off-icon:hover,
    // .go-fwd-icon:hover,
    // .go-back-icon:hover,
    // .repeat-off-icon:hover,
    // .shuffle-song:hover {

    .repeat-on-icon.active,
    .shuffle-song.active,
    .repeat-off-icon.active {
      fill: #1db954;
    }

    .repeat-on-icon.active:hover,
    .shuffle-song.active:hover,
    .repeat-off-icon.active:hover {
      fill: #1ed760;
    }
  }

  .progress-bar {
    width: 100%;
    height: 100%;
    gap: 0.35rem;
    align-items: center;
    white-space: nowrap;
  }

  .time-stamp {
    font-size: 0.6875rem;
    font-family: CircularLight;
    color: #a7a7a7;
  }
}

.right-controls {
  flex-basis: 20%;
  justify-content: end;
  @media (max-width: $mobile-breakpoint) {
    display: none;
  }
}

.left-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5em;

  .station-img {
    height: 56px;
    width: 56px;
    position: relative;

    img {
      height: 56px;
      width: 56px;
      object-fit: cover;
      border-radius: 5px;
    }
  }

  .btn-like-song {
    background: transparent;
    border: 0;
    height: 32px;
    width: 32px;
    justify-content: center;
    align-items: center;

    .liked-song-icon {
      fill: $clr4;
    }

    .heart-icon {
      fill: $clr2;
      height: 16px;
      width: 16px;

      &:hover {
        fill: $clr1;
      }
    }
  }

  .artist-details {
    max-height: 90%;
    overflow-y: clip;
    display: flex;
    max-height: 68px;
    line-height: 22.5px;
    margin-inline-end: 10px;

    .song-name {
      width: 10em;
      color: $clr1;
      font-size: 14px;
      font-family: CircularBook, Rubik-Light;
      margin-inline-start: 16px;
      font-weight: 400;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}

//RIGHT ELEMENTS
.right-container {
  justify-content: space-between;
  align-items: center;
}
.volume-container {
  display: flex;
  align-items: center;
  margin: auto 1em;
  @media (max-width: $mobile-breakpoint) {
    margin: 0;
  }
}

.btn-mute {
  transition: color 0.3s;
  background-color: transparent;
  border: 0;
  fill: $clr2;
  cursor: pointer;

  & :hover {
    fill: #fff;
  }
}

.volume-bar-element {
  -webkit-appearance: none;
  border-radius: 2px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: width 0.3s ease;
  width: 97%;
  height: 4px;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 5px;
    height: 5px;
    background-color: transparent;
  }

  &:hover::-webkit-slider-thumb {
    border-radius: 50%;
    transform: scale(3);
    background-color: #ffffff;
  }
}

@media (max-width: $mobile-breakpoint) {
  .volume-container {
    display: none;
  }
  .shuffle {
    display: none;
  }
  .repeat-off-icon {
    display: none;
  }
  .btn-like-song {
    margin: 0 0 0 23em;
  }
  .time-stamp {
    display: none;
  }
  .left-controls .artist-details {
    display: flex;
    position: absolute;
    white-space: nowrap;
    margin: 0em 0em 5em 3em;
    margin-inline-start: 1.5em;
  }
  .center-controls {
    position: absolute;
    margin: 1em;
  }
  .song-list .song-list-header {
    position: unset;
  }
  .station-song-search {
    margin-left: 1em;
  }
  .station-song-search input {
    width: 105%;
  }
  .left-controls .artist-details .song-name {
    width: max-content;
    margin-inline-start: 0;
    text-align: center;
    align-items: center;
    justify-self: center;
  }
}
