.station-song-search {
  font-family: CircularBlack;
  padding-top: 30px;
  border-top: 1px solid #323232;
  justify-content: space-between;
  margin-block-end: 20px;
  grid-column: 1/-1;

  &.no-border {
    border-top: none;
  }
  input {
    line-height: 22.5px;
    background-color: #2b2b2c;
    color: silver;
    font-family: CircularBlack;
    border: 0;
    border-radius: 4px;
    padding: rem(11px) 2rem 0.5rem;

    width: 100%;
    height: 40px;
  }
  svg {
    fill: silver;
    position: absolute;
    height: 16px;
    width: 16px;
    top: 70px;
    left: 0;
    margin-inline-start: 10px;
  }
  .close-songs-list {
    border: none;
    background-color: transparent;
    .exit-songs-list {
      height: 24px;
      width: 24px;
      position: inherit;
      fill: #b9b9b9;
    }
  }
  h1 {
    margin-bottom: 1.875rem;
    font-size: 1.5rem;
  }
  .search-input {
    position: relative;
  }
}

.station-search-list {
  font-family: CircularBlack;
  font-size: 16px;
  grid-column: 2;

  .station-search-preview {
    border-radius: 5px;
    height: 56px;
    align-items: center;
    display: grid;
    grid-template-columns: 40px 1fr auto;
    gap: 15px;
    padding: 0 1rem;
    .song-img-container {
      position: relative;
      height: 2.5rem;
      width: 2.5rem;
    }
    .song-img-container > * {
      width: 100%;
      height: 100%;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 0;
    }
    .btn-play-pause {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .song-title {
    font-size: 1rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .btn-add-song {
    display: flex;
    align-items: center;
    font-size: 1rem;
    border: 1px solid #717171;
    padding: 5px 15px;
    background-color: #121212;
    color: #f5f5f5;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 500px;
    cursor: pointer;
  }
}
