.station-list {
  display: flex;
  gap: 24px;
  font-size: 1rem;
  padding: 3em 1em 3em 0em;
  overflow: auto;
  margin-bottom: 1.5em;
  .station-card {
    flex: 0 0 auto;

    @media (max-width: $mobile-breakpoint) {
      height: 14.8rem;
    }
  }
}
@media (max-width: 768px) {
  .station-list {
    flex: 0 0 calc(33.33% - 24px);
  }
}

@media (max-width: 480px) {
  .station-list {
    flex: 0 0 calc(50% - 24px);
  }
}
