.station-list {
  display: flex;
  gap: 24px;
  font-size: 1rem;
  padding-top: 1em;
  padding-bottom: 3em;
  // background-color: $bgclr2;
  .station-card {
    flex: 0 0 auto;
  }
}
@media (max-width: 768px) {
  .station-list {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (max-width: 480px) {
  .station-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.main-layout {
  &.home-page {
    span {
      // font-size: 24px;
    }
    gap: 15px;
  }
}
