@import '../setup/variables';

.section-highlights {
  grid-gap: var(--row-gap) var(--column-gap);
  display: grid;
  grid-template: auto/repeat(auto-fill, minmax(max(var(--min-column-width), 25%), 1fr));

  & :hover {
    background-color: #f7f7f729;
    h4 {
      background-color: transparent;
    }
  }

  img {
    min-height: var(--item-height);
    min-width: var(--item-height);
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    position: relative;
    width: 80px;
    height: 80px;
    object-fit: cover;
  }
  .btn-play-playlist {
    height: 48px;
    width: 48px;
    background-color: $clr4;
    padding: 10px;
    border-radius: 50%;
    margin-top: 1.2em;
    transform: translateY(5%);
    position: absolute;
    right: 3%;
    border: none;
    opacity: 0;
    transition: transform 0.3s, opacity 0.5s;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
  }
  & .table-data:hover {
    .btn-play-playlist {
      opacity: 1;
      transform: translateY(0);
    }
    & .btn-play-playlist:hover {
      transform: scale(1.1);
    }
  }
}
.station-name-table {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-flex: 1;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  align-items: center;
  color: $clr1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1;
  flex: 1;
  justify-content: space-between;
  padding: 0 16px;
}
h4 {
  -webkit-box-orient: vertical;
  font-size: 16px;
  font-family: CircularSp, Rubik-Light;
  -webkit-box-direction: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 3px;
  align-self: center;
  -ms-flex-direction: row;
  flex-direction: row;
}
.table-data {
  cursor: pointer;
  background-color: $clr3-dark;
  border-radius: 4px;
  height: var(--item-height);
  overflow: hidden;
  position: relative;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
