* {
  box-sizing: border-box;
}

body {
  background-color: $bgclr1;
  color: $clr1;
  margin: 0;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.6em;
  font-family: CircularBlack, Rubik-SemiBold;
}

img {
  // width: 100%;
}

p {
  margin: 0 0 1em;
}

a {
  text-decoration: none;
}
a:hover {
  // text-decoration: underline;
}

input{
  outline: none;
  font-family: var(--font-family,CircularSp,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif));
}

