.genres-page {
  width: 83vw;
  height: calc(100vh);
  background-color: $bgclr2;
  .browse-all {
    padding-top: rem(30px);
    font-size: 2rem;
    padding-left: rem(23px);
  }

  .search-card-headline {
    font-size: rem(24px);
  }
  .genres-cards-container {
    padding-top: 0;
  }
}

.genre-stations-list {
  display: grid;
  gap: 46px;
  grid-template-columns: repeat(auto-fill, minmax(170px, 175px));
  grid-auto-flow: row;
  padding: 10px 15px 30px;
  margin: 0;
  h3 {
    color: $clr1;
    font-size: 26px;
  }
}
.search-card-img {
  transform: rotate(30deg) translate(18%, -2%);
  height: 110px;
  width: 110px;
  position: absolute;
  margin-left: 4em;
  margin-top: 1em;
}
