.home-page {
  font-family: circularBlack, Rubik-Light;
  font-weight: 600;
  font-size: 1.6em;
  a {
    color: $clr1;
  }
  .station-list-container {
    // background-color: $bgclr2;
    background-color: red;
    padding: 2em 1em 0em 1em;
  }
  span {
    margin-top: 3em;
  }
}

.greeting {
  @media (max-width: $mobile-breakpoint) {
    display: none;
  }
}
