///SVG  CSS SETTINGS

.search-icon-magGlass {
  position: absolute;
  z-index: 6;
  margin: 1em 0 0 0.8em;

  svg {
    fill: $clr2;
  }
}

.station-search-input {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font-size: 0.8125rem;
  font-weight: 400;
  background-color: #242424;
  color: #fff;
  height: 48px;
  padding: 6px 36px;
  border: 0;
  border-radius: 500px;
  text-overflow: ellipsis;
  width: 25vw;
  border: 2px solid rgba(255, 255, 255, 0);
  padding-top: rem(10px);
  font-family: CircularLight;

  &:focus {
    border: 2px solid white;
  }
}

.no-search-results {
  position: absolute;
  left: 50%;
  font-size: 0.8125rem;
  font-weight: 400;
  font-family: var(
    --font-family,
    CircularSp,
    CircularSp-Arab,
    CircularSp-Hebr,
    CircularSp-Cyrl,
    CircularSp-Grek,
    CircularSp-Deva,
    var(--fallback-fonts, sans-serif)
  );
}

.options-close-search {
  background: transparent;
  width: 0;
  height: 0;
  border: 0;

  .active {
    position: absolute;
    width: calc(100% - 330px);
    height: calc(100% - 100px);
  }

  .inactive {
    background-color: red;
    width: 0;
    height: 0;
  }
}

.song-list-header {
  // position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: 0 40px 40px 2fr 1fr 120px;
  border-bottom: 1px solid $clr3-dark;
  border-radius: 0;
  margin-bottom: 15px;
  height: 35px;
  align-items: center;
  gap: 10px;
  font-family: CircularLight;
  font-size: 0.875rem;
  font-weight: 560;
  letter-spacing: 1px;
  color: #b3b3b3;

  .duration-icon {
    fill: $clr2;
  }

  .song-duration {
    text-align: start;
  }
}
.options-container {
  display: flex;
  justify-content: end;

  .dropdown-container {
    position: relative;
  }

  .dropdown-menu.active {
    top: 30px;
    left: -250px;
  }
}
.song-list-header {
  // position: sticky;
  top: 0;
  display: grid;
  border-bottom: 1px solid $clr3-dark;
  border-radius: 0;
  margin-left: 15px;
  margin-bottom: 15px;
  height: 35px;
  align-items: center;
  gap: 10px;
  font-family: CircularLight;
  font-size: 0.875rem;
  font-weight: 560;
  letter-spacing: 1px;
  color: #b3b3b3;

  .duration-icon {
    fill: $clr2;
    margin-left: 6em;
  }
  .song-duration {
    display: flex;
    justify-content: end;
  }

  & .list-song-idx {
    justify-self: center;
    padding-inline-end: 4px;
    font-size: 1rem;
  }

  & .list-song-date {
    white-space: nowrap;
    text-align: start;
  }
}

.search-result-song {
  display: grid;
  grid-template-columns: 16px 17fr 4fr 5fr 3em;
  font-size: 0.875rem;
  height: 56px;
  align-items: center;
  gap: 10px;
  color: #b3b3b3;

  .song-duration {
    justify-content: end;
  }

  .handle-song-icon-container {
    fill: white;
    opacity: 0;
    position: absolute;
  }

  &:hover {
    .handle-song-icon-container {
      opacity: 1;
    }
    .song-idx {
      opacity: 0;
    }
  }

  & .song-idx-container {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .song-title {
    grid-column: 2;
    grid-row: 1;
    align-self: center;
  }

  & .song-img-container {
    width: 40px;
    height: 40px;
    grid-column: 2;
    grid-row: 1;
    margin-right: 16px;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
@media (max-width: $mobile-breakpoint) {
  .search-result-song {
    grid-template-columns: 16px 17fr 4fr 0fr 0em;
  }

  .station-search-input {
    width: 40vw;
  }
}
