.station-details-container {
  display: flex;
  padding: 1.5em;
  gap: 25px;
  font-family: CircularBold, Rubik-Light;
  background-color: var(--primary-color);
  background-image: linear-gradient(transparent 0, rgba(0, 0, 0, 0.5) 100%);

  & .station-content {
    flex: 1;
    flex-flow: column;
    justify-content: flex-end;
    font-size: rem(14px);

    & .station-desc {
      color: $clr1-faded;
    }
  }

  & .station-img {
    height: 232px;
    width: 232px;

    & img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  & h1 {
    font-size: 6rem;
    margin: 0.58em -2px 0.12em;
    margin-top: 8px;

    font-weight: 900;
  }

  & .song-detail {
    color: hsla(0, 0%, 100%, 0.7);
  }

  & .song-detail::before {
    content: '•';
    margin: 0 4px;
    font-size: 0.7rem;
  }

  & .app-icon {
    height: 24px;
    width: 24px;
    inset-inline-start: 0px;
    margin-right: 8px;

    & img {
      border-radius: 50%;
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }

  & .song-details-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4px;
    align-items: end;
    font-size: 0.875rem;
  }
}

.station-actions {
  padding-block: 24px;
  grid-area: 2/2/4/3;

  & .icon-options {
    fill: #b3b3b3;

    &:hover {
      fill: #ffffff;
    }
  }

  & .action-container {
    align-items: center;
    justify-content: start;
    z-index: 1;

    & .options-container {
      & .btn-options-close {
        border: 0;
        background: transparent;
      }
    }

    & .like-station-icon {
      background: transparent;
      border: 0;
      color: $clr1-faded;
      display: flex;
      padding: 0;
      align-items: center;
      margin-right: 32px;

      & .heart-icon {
        fill: #b3b3b3;
        height: 32px;
        width: 32px;
      }

      & :hover {
        fill: #ffffff;
      }
    }
  }

  & .btn-play-container {
    margin-right: 32px;

    & .btn-play {
      position: relative;
      width: 56px;
      height: 56px;
      background-color: $clr4;
      border: none;
      border-radius: 50%;
      padding: 0;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      cursor: pointer;
      transition: background-color 0.3s ease;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background-color: $clr4-light;
        border-radius: 50%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      }
    }

    .play-icon {
      width: 44px;
      height: 44px;
      fill: #fff;
    }

    .btn-play-container {
      width: 44px;
      height: 44px;
    }
  }
}

.song-list {
  margin-block-end: 40px;
  // height: calc(100vh - 588px);
  grid-area: 4/2/5/3;
  z-index: 1;

  & .list-options {
    grid-column: 5;
    grid-row: 1;
    align-items: center;
    & .list-options-container {
      position: relative;

      & .btn-list-options {
        background: transparent;
        border: 0;
      }
    }
  }

  & .song-list-header {
    position: sticky;
    top: 0;
    display: grid;
    // grid-template-columns: 0 40px 40px 2fr 1fr 120px;
    grid-template-columns: 16px 6fr 4fr 3fr minmax(120px, 1fr);
    border-bottom: 1px solid $clr3-dark;
    border-radius: 0;
    margin-bottom: 15px;
    height: 35px;
    align-items: center;
    gap: 10px;
    font-family: CircularLight, Rubik-Light;
    font-size: 0.875rem;
    font-weight: 560;
    letter-spacing: 1px;
    color: #b3b3b3;

    small {
      text-align: center;
      .duration-icon {
        fill: $clr2;
        margin-left: 0;
      }
    }

    .song-duration {
      text-align: start;
    }
  }

  & .list-song-idx {
    justify-self: center;
    padding-inline-end: 4px;
    font-size: 1rem;
    grid-column: 1;
  }

  & .list-song-date {
    white-space: nowrap;
    text-align: start;
  }

  & .song-wrapper {
    display: grid;
    // grid-template-columns: 0 40px 40px 2fr 1fr 120px;
    grid-template-columns: 16px 6fr 4fr 3fr minmax(120px, 1fr);
    margin-left: 15px;
    font-size: 0.875rem;
    height: 56px;
    align-items: center;
    gap: 10px;
    color: $clr2;
    font-family: CircularMedium, Rubik-Light;

    & .song-idx-container {
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
      grid-column: 1;
      grid-row: 1;
    }

    & .handle-song-icon-container {
      // opacity: 0;
      display: none;
      grid-column: 1;
      grid-row: 1;
    }

    &:hover {
      background-color: $clr3-dark;

      & .btn-like-song {
        opacity: 1;
        margin-right: 1rem;
        padding: 0;
      }

      & .btn-list-options {
        opacity: 1;

        .icon-options {
          width: 16px;
          height: 16px;
          margin-left: 5px;
          fill: $clr1;
        }
      }

      .song-idx-container {
        display: none;
      }

      & .handle-song-icon-container {
        display: block;
        text-align: center;

        .handle-play-icon {
          fill: #ffffff;
          width: 14px;
          height: 14px;
        }
      }
    }

    & .btn-list-options {
      opacity: 0;
    }

    & .btn-like-song {
      opacity: 0;
      border: 0;
      background: transparent;

      & .heart-icon {
        fill: $clr2;
        height: 16px;
        width: 16px;

        &:hover {
          fill: #fff;
        }
      }
    }

    & .song-idx {
      justify-self: center;
      font-size: 1rem;
      padding-right: 4px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-weight: 400;
    }
    * .song-name {
      // grid-column: -5;
      color: #ffffff;

      &.active {
        color: $clr4;
      }
    }

    .artist-details {
      grid-column: 2;
      grid-row: 1;
      align-items: center;
    }

    & .song-img-container {
      width: 40px;
      height: 40px;
      grid-column: 2;
      grid-row: 1;
      margin-right: 16px;

      & .song-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.options-close {
  // z-index: 100;
  background: transparent;
  width: 0;
  height: 0;
  border: 0;

  &.active {
    position: absolute;
    // width: calc(100% - 330px);
    // height: calc(100% - 100px);
  }

  &.inactive {
    width: 0;
    height: 0;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.edit-modal-content {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 8px;
  transform: translate(-50%, -50%);
  background-color: #282828;
  width: 524px;
  height: 389px;
  z-index: 9999;
}

.edit-modal-header {
  display: flex;
  height: 86px;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  font-size: 1.35rem;
  padding: 24px;
}

.edit-modal-body {
  grid-gap: 16px;
  display: grid;
  grid-template: 32px 132px 32px auto / 180px 1fr;
  grid-template-areas:
    'album-image title'
    'album-image description'
    '. save-button'
    'disclaimer disclaimer';
  padding: 0 24px 24px;
}

.playlist-name {
  background: hsla(0, 0%, 100%, 0.1);
  border: 1px solid transparent;
  border-radius: 4px;
  color: #fff;
  font-family: inherit;
  font-size: 14px;
  height: 40px;
  padding: 0 12px;
  width: 100%;
}

.playlist-description {
  grid-area: description;
  background: hsla(0, 0%, 100%, 0.1);
  border: 1px solid transparent;
  border-radius: 4px;
  color: #ffffff;
  font-family: inherit;
  font-size: 14px;
  height: 100%;
  padding: 8px 8px 28px;
  resize: none;
  width: 100%;
}

.edit-modal-closeBtn {
  display: flex;
  justify-items: center;
  background: none;
  border: none;
  transition: color 0.3s;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: -8px;
}

.edit-modal-closeBtn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.edit-modal-picture-change {
  height: 180px;
  width: 100%;
}

.edit-modal-picture {
  grid-area: album-image;
  /* Update the grid area name to "save-button" */

  background-color: #323232;
  // border: 2px solid white;   //// for debugging purposes
  color: #fff;
  border: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.edit-modal-picture-img {
  height: -webkit-fill-available;
}

.edit-modal-saveBtn-container {
  display: flex;
  grid-area: save-button;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  padding-right: 10px;
}

.edit-modal-saveBtn {
  display: flex;
  width: 100px;
  height: 48px;
  border: none;
  background-color: #b7b7b7;
  border-radius: 32px;
  vertical-align: baseline;
  margin-top: -8px;
  margin-inline-end: -8px;
  font-weight: 700;
  text-align: center;
  font-family: CircularBlack;
  cursor: pointer;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;

  &:hover {
    transform: scale(1.05);
    font-weight: 800;
  }
}

.edit-modal-genres {
  display: flex;
  width: 100px;
  height: 48px;
  box-sizing: border-box;
  grid-area: disclaimer save-button;
  margin-block: 0px;
  font-size: 1rem;
  font-weight: 700;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;
  font-weight: 700;

  font-family: CircularBlack;
  background-color: #b7b7b7;
  border-radius: 32px;

  &:hover {
    transform: scale(1.05);
    font-weight: 800;
  }

  .genre-select {
    border: none;
    font-family: inherit;

    background-color: #282828;
    background: none;

    &:hover {
      transform: scale(1.05);
      font-weight: 800;
    }
  }
}

.edit-modal-genres-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: center;

  margin-top: -8px;
  margin-inline-end: -8px;
}

#file-upload {
  display: none;
}
