.station-details-container {
  display: flex;
  padding: 1.5em;
  gap: 25px;
  font-family: CircularBold;

  & .station-content {
    flex: 1;
    flex-flow: column;
    justify-content: flex-end;
    font-size: rem(14px);

    & .station-desc {
      color: $clr1-faded;
    }
  }

  & .station-img {
    height: 232px;
    width: 232px;

    & img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  & h1 {
    font-size: 6rem;
    margin: 0.58em 2px 0.12em;
    margin-top: 8px;

    font-weight: 900;
  }

  & .song-detail {
    color: hsla(0, 0%, 100%, 0.7);
  }

  & .song-detail::before {
    content: '•';
    margin: 0 4px;
    font-size: 0.7rem;
  }

  & .app-icon {
    height: 24px;
    width: 24px;
    inset-inline-start: 0px;
    margin-right: 8px;

    & img {
      border-radius: 50%;
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }

  & .song-details-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4px;
    align-items: end;
    font-size: 0.875rem;
  }
}

.station-actions {
  padding-block: 24px;

  & .icon-options {
    fill: #b3b3b3;

    &:hover {
      fill: #ffffff;
    }
  }

  & .action-container {
    align-items: center;
    justify-content: start;

    & .options-container {
      & .btn-options-close {
        border: 0;
        background: transparent;
      }
    }

    & .like-station-icon {
      background: transparent;
      border: 0;
      color: $clr1-faded;
      display: flex;
      padding: 0;
      align-items: center;
      margin-right: 32px;

      & .heart-icon {
        fill: #b3b3b3;
        height: 32px;
        width: 32px;
      }

      & :hover {
        fill: #ffffff;
      }
    }
  }

  & .btn-play-container {
    margin-right: 32px;

    & .btn-play {
      position: relative;
      width: 56px;
      height: 56px;
      background-color: $clr4;
      border: none;
      border-radius: 50%;
      padding: 0;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      cursor: pointer;
      transition: background-color 0.3s ease;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background-color: $clr4-light;
        border-radius: 50%;
      }
    }

    .play-icon {
      width: 44px;
      height: 44px;
      fill: #fff;
    }

    .btn-play-container {
      width: 44px;
      height: 44px;
    }
  }
}

.song-list {
  margin-block-end: 40px;
  height: calc(100vh - 600px);

  & .list-options {
    & .list-options-container {
      position: relative;

      & .btn-list-options {
        background: transparent;
        border: 0;
      }
    }
  }

  & .song-list-header {
    position: sticky;
    top: 0;
    display: grid;
    grid-template-columns: 0 40px 40px 2fr 1.5fr 1.72fr;
    text-transform: uppercase;
    border-bottom: 1px solid $clr3-dark;
    border-radius: 0;
    margin-bottom: 15px;
    height: 35px;
    align-items: center;
    gap: 10px;
    font-family: CircularLight;
    font-size: 0.875rem;
    font-weight: 560;
    letter-spacing: 1px;
    color: #b3b3b3;
  }

  & .list-song-idx {
    justify-self: center;
    padding-inline-end: 4px;
    font-size: 1rem;
  }

  & .list-song-date {
    white-space: nowrap;
    width: 30px;
  }

  & .duration-icon {
    fill: currentColor;
  }

  & .song-wrapper {
    display: grid;
    grid-template-columns: 0 40px 40px 2fr 1.5fr 1.72fr;
    font-size: 0.875rem;
    height: 56px;
    align-items: center;
    gap: 10px;
    color: $clr2;
    font-family: CircularMedium;

    & .song-idx-container {
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
    }

    & .handle-song-icon-container {
      // opacity: 0;
      display: none;
    }

    &:hover {
      background-color: $clr3-dark;

      & .btn-like-song {
        opacity: 1;
      }

      & .btn-list-options {
        opacity: 1;
      }
      .song-idx-container {
        display: none;
      }

      & .handle-song-icon-container {
        display: block;
        text-align: center;

        .handle-play-icon {
          fill: #ffffff;
          width: 14px;
          height: 14px;
        }
      }
    }

    & .btn-list-options {
      opacity: 0;
    }

    & .btn-like-song {
      opacity: 0;
      border: 0;
      background: transparent;

      & .heart-icon {
        fill: $clr2;
        height: 16px;
        width: 16px;

        &:hover {
          fill: #fff;
        }
      }
    }

    & .song-idx {
      justify-self: center;
      font-size: 1rem;
      padding-right: 4px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-weight: 400;
    }

    * .song-name {
      // grid-column: -5;
      color: #ffffff;
    }

    & .song-img-container {
      width: 40px;
      height: 40px;

      & .song-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.options-close {
  background: transparent;
  width: 0;
  height: 0;
  border: 0;

  &.active {
    position: absolute;
    width: calc(100% - 330px);
    height: calc(100% - 100px);
  }

  &.inactive {
    width: 0;
    height: 0;
  }
}
