.home-page {
  font-family: circularBlack;
  font-weight: 600;
  font-size: 1.6em;
  a {
    color: $clr1;
  }
  .station-list-container {
    padding-top: 1.3em;
    background-color: $bgclr2;
    padding: 1em;
  }
  span {
    margin-top: 3em;
  }
}
