.home-page {
  font-family: circularBlack, Rubik-Light;
  font-weight: 600;
  font-size: 1.6em;
  a {
    color: $clr1;
  }
  .station-list-container {
    background-color: $bgclr2;
    padding: 2em 1em 0em 1em;
  }
  span {
    margin-top: 3em;
  }
}

.circle-animation {
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-15px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}
