@font-face {
  font-family: CircularBlack;
  src: url(../../fonts/CircularSpotifyText-Black.otf);
}
@font-face {
  font-family: CircularSp;
  src: url(../../fonts/CircularSpotifyText-Black.otf);
}

@font-face {
  font-family: CircularBlackItalic;
  src: url(../../fonts/CircularSpotifyText-BlackItalic.otf);
}

@font-face {
  font-family: CircularBold;
  src: url(../../fonts/CircularSpotifyText-Bold.otf);
}

@font-face {
  font-family: CircularBook;
  src: url(../../fonts/CircularSpotifyText-Book.otf);
}

@font-face {
  font-family: CircularBookItalic;
  src: url(../../fonts/CircularSpotifyText-BookItalic.otf);
}

@font-face {
  font-family: CircularLight;
  src: url(../../fonts/CircularSpotifyText-Light.otf);
}

@font-face {
  font-family: CircularMedium;
  src: url(../../fonts/CircularSpotifyText-Medium.otf);
}

@font-face {
  font-family: CircularMediumItalic;
  src: url(../../fonts/CircularSpotifyText-MediumItalic.otf);
}
