// Colors
$bgclr1: #000000;
$bgclr2: #121212;
$bgclr1-light: #535353;
$card-color: #181818;
$bgclr3: #1ed760;

$clr1: #ffffff; // Song name
$clr2: #b3b3b3; // Song desc
$clr3: #a7a7a7; // Your library on the side bar
$clr: #1ed760; // Play button

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
