// Colors
$bgclr1: #000000;
$bgclr1: #121212;
$bgclr1-light: #535353;

$clr1: #ffffff; // Song name
$clr2: #b3b3b3; // Song desc
$clr3: #a7a7a7; // Your library on the side bar

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
