:root {
  --min-column-width: 270px;
  --item-height: 80px;
  --column-gap: 24px;
  --row-gap: 16px;
  --column-width: 204px;
  --column-count: 4;
  --grid-gap: 24px;
  --min-container-width: 432px;
  --content-spacing: 24px;
}

// Colors
$bgclr1: #000000;
$bgclr2: #121212;
$bgclr1-light: #535353;
$card-color: #181818;
$bgclr3: #1ed760;
$bgclr4: #282828;

$clr1: #ffffff; // Song name
$clr1-faded: hsla(0, 0%, 100%, 0.9);
$clr2: #b3b3b3; // Song desc
$clr3: #a7a7a7; // Your library on the side bar
$clr3-light: hsla(0, 0%, 100%, 0.7);
$clr3-dark: hsla(0, 0%, 100%, 0.1); //Detail line:hover
$clr4: #1ed760; // Play button
$clr4-light: #1fdf64; //Play button hover
$box-shadow: 0 1px 5px #000;
$app-header-nav-btn: rgba(0, 0, 0, 0.7);

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;

$primary-color: rgb(48, 2, 48);
$secondery-color: rgb(223, 101, 223);
